.tou{
             height: 30px;background:#3E3A39;
    h1{
            float:left;font-size:12px;padding: 8px 0 0 35px;color:#CCCCCC;
    }
    .tou_r{
                float:right;position:relative;
        li{
                float:left;margin-top: 8px;font-size:12px;color:#CCCCCC;
            a{
                     font-size:12px;color:#CCCCCC;padding:0 25px;border-right: 1px solid #ccc;
                i{
                    width: 24px;height: 19px;background:url("../img/dianhua.png") no-repeat;position: absolute;top:4px;right:105px;

                }
        }
            }
    }

}

.hader .cont{
            height: 90px;position:relative;

            h2{
                width: 1200px;height: 80px;background:url("../img/hader.jpg") no-repeat;margin-bottom: 20px;
            }
        
        h3{
            float:left;width: 199px;height: 53px;background:url("../img/logo1.jpg") no-repeat;
        }
        img{ 
            width: 175px;height: 60px;margin-left: 50px;
        }
        input{
            width: 335px;height: 40px;border:3px solid #C40000;margin-left:76px;
        }
        button{
            padding:6px 20px 10px 20px;background:#C40000;border:2px solid #C40000;font-size:16px;color:#fff;
        }
        .ul_l{
                margin-left: 510px;
            li{
                float:left;
                a{
                    display:block;border-right:1px solid #000;color:#E17F7F ;padding:0 6px;font-size:12px;
                }
            }
        }
                span{
                    float:right;width: 140px;height: 50px;border:1px solid #000;font-size:14px;text-align: center;margin-left: 90px;padding:10px 20px;margin-top: 20px;position:absolute;top:87px;right:20px;
                }
    }

 .nav_p .cont{height:43px;
      
        li{
            margin-top: 8px;
            float:left;padding:0 30px;
            a{
                color:#333333;font-size:14px;
            }
       

            }
            .nb{ width: 187px;height: 45px;
                background:#CC0210;
                a{
                    line-height: 45px;
                font-size:20px;color:#fff;text-align:center;
                    margin-left: 10px;
                 
                }
       
        }


        h5{
            float:right;width: 190px;height: 37px;background:url("../img/qing.gif") no-repeat;
            
        }

    }




    
.nav .cont{
     
    .nav_l{
        float:left;width: 187px;height:470px;background:#CA111D;position:relative;
     position:absolute;top:259px;left: 30px;
        z-index: 1;

        .lt{
        
            line-height: 48px;
            a{
                font-size:16px;color:#fff;padding-left: 30px;position:relative;
                i{
                    width: 13px;height: 19px;background:url("../img/jian.png") no-repeat; position:absolute;top:3px;left:153px;
                }
            }
            &:hover .big{display:block;}
            &:hover{background:#D53C45;}

        }
        .big{

            width: 1030px;height: 500px;
         position:absolute;top:0px;left:186px;

         padding: 0 40px;

            display:none;
            .box_r{background:#fff;
                width:686px;height: 450px;padding-right:100px;
                position:absolute;
                .tab1{
                       h4{
                            font-size:16px;color:#000;border-bottom: 1px solid #ccc;margin-top: 20px;
                        }
                   
                    li{
                        float:left;
                        a{
                            font-size:14px;border-right:1px solid #B7B7B7;color:#E37D7F;padding:0 6px;
                        }
                    }
                }
                .tab2{
                    li{
                        float:left;

                        a{
                            font-size:14px;border-right:1px solid #B7B7B7;color:#E37D7F;padding:0 6px;
                        }

                    }
                       h4{
                            font-size:16px;color:#000;border-bottom: 1px solid #ccc;margin-top: 20px;
                        }
                   

                }
            
                .tab3 {
                    h4{
                        font-size:16px;color:#000;text-align:left;
                        border-bottom: 1px solid #ccc;
                    }
                    li{
                            float:left;

                        a{
                            font-size:14px;border-right:1px solid #B7B7B7;color:#E37D7F;padding:0 6px;
                        }
                    
                    }

                    
                }

                 .tab {
                    h4{
                        font-size:16px;color:#000;text-align:left;
                        border-bottom: 1px solid #ccc;
                    }
                    li{
                            float:left;

                        a{
                            font-size:14px;border-right:1px solid #B7B7B7;color:#E37D7F;padding:0 6px;
                        }
                    
                    }

                    
                }
                     
            } 

            .tu{

                h4{
                    width: 240px;height:500px;background:url("../img/aa.png") no-repeat;float:right;
        

                }
            }

       

            }  

  
        }
   } 
 #baner{
        position:relative;
        img{
            display:block;height: 470px;width: 100%;
        }
        #page{
            position:absolute;top:425px;left:530px;
            span{
                padding:5px;width: 50px;height: 50px;border-radius: 50%;color:#fff;border:1px solid #ccc;
            }
        }
    }
    $mt:12px;
    $fs:14px;


    .main_t{
        height: 46px;
        background:#fff; 
    border-bottom:1px solid #ccc;
        .main_c li{
            float:left;margin-top:$mt;font-size:$fs;padding:0 30px;color:#A4A49B;
           
        }
        p{
            float:right;margin-top:$mt;font-size:$fs;color:#E01F35;
        }
    }

.midd .cont{
         height:4120px;background:#F5F5F5;
    
    .box1{
        height:660px;margin-top: 20px;
        li{float:left;text-align:center;
            margin-right: 14px;margin-top:20px; 
            height:310px;border:1px solid #ccc;
           
        p{
            font-size:16px;color:#000;

        }
        span{
            color:red;
        }
        }
           
    }

   
        .box_u {
                height:681px;padding-top: 10px; 
                h1{
                    font-size:18px;padding: 10px 0;
                }
               
                .box4{

                    height:681px;

                ul{

                    li{text-align:center;
                         float:left; 
                         width: 219px;height:300px; 
                         background:
                        #fff;
                         margin-right: 12px;
                         margin-top: 12px;
                        padding:20px;
                        p{

                            font-size:14px;color:#000;line-height: 40px;
                        }
                        span{
                            color:red;
                        }
                         img{
                            height:190px;width:190px;
                         }
                    }
                }
                

            }
        }
.box_p{
            height:681px;padding-top: 10px; 

            h1{
                font-size:18px;padding: 10px 0;
            }
            .box5{height:681px;
               
                ul{

                    li{text-align:center;
                         float:left; 
                         width: 219px;height:300px; 
                         background:

                        #fff;
                         margin-right: 12px;
                         margin-top: 12px;
                        padding:20px;

                         p{

                            font-size:14px;color:#000;line-height: 40px;
                        }
                        span{
                            color:red;
                        }
                         img{
                            height:190px;width:190px;
                         }
                    }
                }
            }
        }
.box_o{
            height:681px;padding-top: 10px; 

            h1{
                font-size:18px;padding: 10px 0;
            }
            .box6{height:681px;
               
                ul{

                    li{text-align:center;
                         float:left; 
                         width: 219px;height:300px; 
                         background:

                        #fff;
                         margin-right: 12px;
                         margin-top: 12px;
                        padding:20px;

                         p{

                            font-size:14px;color:#000;line-height: 40px;
                        }
                        span{
                            color:red;
                        }
                         img{
                            height:190px;width:190px;
                         }
                    }
                }
            }
        }
.box_e{
            height:376px;padding-top: 10px; 

            h1{
                font-size:18px;padding: 10px 0;
            }
            .box7{height:376px;
               
                ul{

                    li{text-align:center;
                         float:left; 
                         width: 219px;height:300px; 
                         background:

                        #fff;
                         margin-right: 12px;
                         margin-top: 12px;
                        padding:20px;
                         p{

                            font-size:14px;color:#000;line-height: 40px;
                        }
                        span{
                            color:red;
                        }
                         img{
                            height:190px;width:190px;
                         }
                    }
                }
            }
        }

  .main_u{
                margin-top: 30px;height:337px;
                h1{
                    font-size:18px;
                }
               ul{

                    li{text-align:center;
                         float:left; 
                         width: 219px;height:300px; 
                         background:

                        #fff;
                         margin-right: 12px;
                         margin-top: 12px;
                        padding:20px;
                         p{

                            font-size:14px;color:#000;line-height: 40px;
                        }
                        span{
                            color:red;
                        }
                         img{
                            height:190px;width:190px;
                         }
                    }
                }
            }



.main_b{height:350px;
                margin-top: 30px;
            h1{
                font-size:18px;
            }
                li{text-align:center;
                    float:left;height:315px; width: 284px; background:#fff;margin-right: 13px;margin-top: 12px;
                     p{

                            font-size:14px;color:#000;line-height: 40px;
                        }
                        span{
                            color:red;
                        }
                }
            }

.main_k{height:267px;
                margin-top: 30px;
                h1{
                    font-size:18px;
                }
                li{

                float:left;height:230px; width:282px; margin-right: 13px;margin-top: 12px;
                img{width: 280px;height:170px;
                 }  
                 p{text-align:center;
                    color:#000;
                 } 
                }
            }




}

.weibu{
    background:#3E3E3E;height: 343px;position:relative;border-bottom:2px solid #787878;
        .weibu_t{height:123px;
            border-bottom:2px solid #fff;
            .weibu_l{position:relative;

                h3{
                    padding:20px 0px;font-size:14px;color:#fff; 
                }

               
                i{
                    width: 43px;height:45px;background:url("../img/hua.png") no-repeat;position:absolute;top:53px;;left:0px;
                }
                h4{
                    padding-left:57px;
                    font-size:20px;color:#FFD312;
                }
                img{
                    position:absolute;top:60px;left:280px;
                }

            }
            .weibu_r{position:relative;
              
                p{
                    padding-right:130px;font-size:14px;color:#fff;text-align:right;margin-top: 20px;
                }
                h2{
                    width: 108px;height:105px;background:url("../img/er.png") no-repeat;position:absolute;top:8px;;right:0px;
                }
            }
        }

    .weibu_p{margin-top: 38px;

        ul{float:left;padding:0 54px; font-size:14px;

            h2{
           color:#fff;line-height: 30px;
            }
            li{
            text-align:left;color:#A9A9A9;line-height: 25px;
           
            
               
            }
            
        }
         

        
    }
}
        

   
.footer .cont{
        height: 300px;background:#fff;
        .ft{position:relative;padding-top: 25px; 
            .c1{float:left;padding-left: 75px;
                i{
                     width: 62px;height: 47px;background:url("../img/c4.png") no-repeat;position:absolute;top:22px;left:0;
                }
                h3{
                font-size:18px;color:#C40023;
                }
                span{font-size:14px;color:#CFCFCF;}
            }
             .c2{float:left;padding-left:117px;
                i{
                     width: 62px;height: 47px;background:url("../img/c2.png") no-repeat;position:absolute;top:22px;left:236px;;
                }
                h3{
                font-size:18px;color:#C40023;
                }
                span{font-size:14px;color:#CFCFCF;}
            }
             .c3{float:left;padding-left:132px;
                i{
                     width: 62px;height: 47px;background:url("../img/c3.png") no-repeat;position:absolute;top:22px;left:480px;;
                }
                h3{
                font-size:18px;color:#C40023;
                }
                span{font-size:14px;color:#CFCFCF;}
            }
             .c4{float:left;padding-left:180px;
                i{
                     width: 62px;height: 47px;background:url("../img/c1.png") no-repeat;position:absolute;top:22px;left:758px;;
                }
                h3{
                font-size:18px;color:#C40023;
                }
                span{font-size:14px;color:#CFCFCF;}
            }
             .c5{float:left;padding-left:104px;
                i{
                     width: 62px;height: 47px;background:url("../img/c5.png") no-repeat;position:absolute;top:22px;right:136px;;
                }
                h3{
                font-size:18px;color:#C40023;
                }
                span{font-size:14px;color:#CFCFCF;}
            }

        }
        .fc{margin-top:65px;height:20px;
            li{float:left;padding:0 5px;
                font-size:14px;color:#080808;}

        span{border-right:1px solid #000;padding:0 4px;}

        }
        .fi{margin-top: 20px;height:94px;
            p{font-size:14px;
             
                text-align:center;}
            img{margin:10px 0 0 400px;}

        }
        
}


