
.header .cont{
            height: 90px;background:#fff;position:relative;
    h1{
        width: 199px;height: 53px;background:url("../img/logo1.jpg") no-repeat;position:absolute;top:22px;left:90px;
    }
}
.header_r{padding-right:80px;
    li{
        float:left;margin-right: 33px;font-size:12px;margin-top: 34px;color:#000;position:relative;
        &:nth-child(2){
            i{
                width:20px;height: 21px;background:url("../img/set.png") no-repeat;position:absolute;top:0;left:-21px;
            }

        }
    }
        h3{
            width:15px;height: 20px;background:url("../img/ren.png") no-repeat;position:absolute;top:0;left:-18px;
        }
}

.main .cont{
            height:437px;
            margin-top: 40px;padding-left:90px;
        img{
             float:left;
        }
    .main_r{
            float:left;
             width: 494px;height: 437px;border:1px solid #ccc;margin-left: 50px;
        .main_c{
                padding:20px 70px; position:relative;
            h2{
                position:relative;padding-left:150px;
                font-size:12px;color:#000;margin-bottom: 30px;
            i{
                width: 32px;height: 31px;background:url("../img/p3.png") no-repeat;position:absolute;top:-9px;left:114px;
            }

            }
            input{

                width: 353px;height: 57px;padding-left: 30px;

            }
            span{
                width: 21px;height: 26px;background:url("../img/p2.png") no-repeat;position:absolute;top:130px;left:80px;
            }
            i{
                width: 21px;height: 23px;background:url("../img/p1.png") no-repeat;position:absolute;top:78px;left:76px;
            }

            .gou{
                margin-top: 15px;
                input{
                        float:left; width: 15px;height: 15px;
                }
                h5{
                    float:left;font-size:12px;color:#848484;
                }
                h3{
                    font-size:12px;color:#848484;float:right;
                }


            }

            button{
                    margin: 20px 0 10px 0;width: 353px;height: 47px;background:#FE0A2E;text-align:center;color:#fff;border:1px solid #ccc;
            }


        }


    }
}


.xin {
    height: 100px;padding-right: 158px;

    button{
            float:right; width: 116px;height: 40px;background:#FE0A2E;border:1px solid #ccc;color:#fff;
    }
}

footer{
        height: 92px;background:#F2F2F2;padding-top: 52px;
    ul{
            padding-left: 420px;text-align:center;
        li{
                float:left;font-size:12px;
            span{
                border-right: 1px solid #000;margin:0 18px 0 18px;
            }
        }
    }
    p{
        padding-left: 300px;font-size:12px;color:#000;
    }
}
