header .tou {
  height: 30px;
  background: #3E3A39; }
  header .tou h1 {
    float: left;
    font-size: 12px;
    padding: 8px 0 0 35px;
    color: #CCCCCC; }
  header .tou .tou_r {
    float: right;
    position: relative; }
    header .tou .tou_r li {
      float: left;
      margin-top: 8px;
      font-size: 12px;
      color: #CCCCCC; }
      header .tou .tou_r li a {
        font-size: 12px;
        color: #CCCCCC;
        padding: 0 25px;
        border-right: 1px solid #ccc; }
        header .tou .tou_r li a i {
          width: 24px;
          height: 19px;
          background: url("../img/dianhua.png") no-repeat;
          position: absolute;
          top: 4px;
          right: 105px; }

header .hader .cont {
  height: 90px;
  position: relative; }
  header .hader .cont h2 {
    padding-left: 30px;
    width: 1200px;
    height: 80px;
    background: url("../img/hader.jpg") no-repeat;
    margin-bottom: 20px; }
  header .hader .cont h3 {
    float: left;
    width: 199px;
    height: 53px;
    background: url("../img/logo1.jpg") no-repeat; }
  header .hader .cont img {
    width: 175px;
    height: 60px;
    margin-left: 50px; }
  header .hader .cont input {
    width: 335px;
    height: 40px;
    border: 3px solid #C40000;
    margin-left: 76px; }
  header .hader .cont button {
    padding: 6px 20px 10px 20px;
    background: #C40000;
    border: 2px solid #C40000;
    font-size: 16px;
    color: #fff; }
  header .hader .cont .ul_l {
    margin-left: 510px; }
    header .hader .cont .ul_l li {
      float: left; }
      header .hader .cont .ul_l li a {
        display: block;
        border-right: 1px solid #000;
        color: #E17F7F;
        padding: 0 6px;
        font-size: 12px; }
  header .hader .cont span {
    float: right;
    width: 140px;
    height: 50px;
    border: 1px solid #000;
    font-size: 14px;
    text-align: center;
    margin-left: 90px;
    padding: 10px 20px;
    margin-top: 20px;
    position: absolute;
    top: 87px;
    right: 20px; }

.nav .cont .nav_l {
  float: left;
  width: 187px;
  height: 515px;
  background: #CA111D;
  position: relative;
  position: absolute;
  top: 279px;
  left: 30px;
  z-index: 1; }
  .nav .cont .nav_l .lt {
    float: left;
    line-height: 48px; }
    .nav .cont .nav_l .lt a {
      font-size: 16px;
      color: #fff;
      padding-left: 30px;
      position: relative; }
      .nav .cont .nav_l .lt a i {
        width: 13px;
        height: 19px;
        background: url("../img/jian.png") no-repeat;
        position: absolute;
        top: 3px;
        left: 153px; }
    .nav .cont .nav_l .lt:hover .big {
      display: block; }
    .nav .cont .nav_l .lt:hover {
      background: #D53C45; }
  .nav .cont .nav_l .big {
    width: 1030px;
    height: 500px;
    position: absolute;
    top: 47px;
    left: 186px;
    padding: 0 40px;
    display: none; }
    .nav .cont .nav_l .big .box_r {
      width: 686px;
      height: 450px;
      background: #ccc; }
      .nav .cont .nav_l .big .box_r .tab1 h4 {
        font-size: 16px;
        color: #000;
        border-bottom: 1px solid #ccc;
        margin-top: 20px; }
      .nav .cont .nav_l .big .box_r .tab1 li {
        float: left; }
        .nav .cont .nav_l .big .box_r .tab1 li a {
          font-size: 14px;
          border-right: 1px solid #B7B7B7;
          color: #E37D7F;
          padding: 0 6px; }
      .nav .cont .nav_l .big .box_r .tab2 li {
        float: left; }
        .nav .cont .nav_l .big .box_r .tab2 li a {
          font-size: 14px;
          border-right: 1px solid #B7B7B7;
          color: #E37D7F;
          padding: 0 6px; }
      .nav .cont .nav_l .big .box_r .tab2 h4 {
        font-size: 16px;
        color: #000;
        border-bottom: 1px solid #ccc;
        margin-top: 20px; }
      .nav .cont .nav_l .big .box_r .tab3 h4 {
        font-size: 16px;
        color: #000;
        border-bottom: 1px solid #ccc; }
      .nav .cont .nav_l .big .box_r .tab3 li {
        float: left; }
        .nav .cont .nav_l .big .box_r .tab3 li a {
          font-size: 14px;
          border-right: 1px solid #B7B7B7;
          color: #E37D7F;
          padding: 0 6px; }
      .nav .cont .nav_l .big .box_r .tab {
        width: 200px;
        margin: 0 200px; }
        .nav .cont .nav_l .big .box_r .tab li float:left
a {
          font-size: 14px;
          border-right: 1px solid #B7B7B7;
          color: #E37D7F;
          padding: 0 6px; }
  .nav .cont .nav_l .nav_p {
    margin-left: 200px; }
    .nav .cont .nav_l .nav_p h1 {
      width: 187px;
      background: #CA111D;
      height: 40px;
      font-size: 18px;
      color: #fff;
      padding-top: 8px; }
    .nav .cont .nav_l .nav_p li {
      float: left;
      padding: 0 30px; }
      .nav .cont .nav_l .nav_p li a {
        color: #333333;
        font-size: 14px; }
      .nav .cont .nav_l .nav_p li:hover a {
        color: #D02427; }
    .nav .cont .nav_l .nav_p h5 {
      float: right;
      width: 190px;
      height: 37px;
      background: url("../img/qing.gif") no-repeat; }

.nav .cont #baner {
  margin-top: 40px;
  position: relative; }
  .nav .cont #baner img {
    display: block;
    height: 470px;
    width: 100%; }
  .nav .cont #baner #sp {
    position: absolute;
    top: 425px;
    left: 530px; }
    .nav .cont #baner #sp span {
      padding: 5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: #fff;
      border: 1px solid #ccc; }

.nav .cont .main_t {
  height: 46px;
  background: #ccc; }
  .nav .cont .main_t .main_c li {
    float: left;
    margin-top: 12px;
    font-size: 14px;
    padding: 0 30px;
    color: #A4A49B;
    border-bottom: 1px solid #ccc; }
  .nav .cont .main_t p {
    float: right;
    margin-top: 12px;
    font-size: 14px;
    color: #E01F35; }

.nav .cont .main .cont {
  height: 4582px;
  background: #F5F5F5; }
  .nav .cont .main .cont .box1 {
    height: 325px;
    background: #12cb54;
    margin-top: 20px; }
    .nav .cont .main .cont .box1 li {
      float: left;
      margin-right: 12px;
      margin-top: 25px;
      background: pink;
      height: 325px;
      border: 1px solid #ccc; }
  .nav .cont .main .cont .box2 {
    height: 320px;
    background: #45acbb;
    margin-top: 20px; }
    .nav .cont .main .cont .box2 li {
      float: left;
      margin-right: 15px;
      margin-top: 25px;
      background: #f90;
      width: 285px;
      height: 325px;
      border: 1px solid #ccc; }
  .nav .cont .main .cont .box_h {
    height: 614px;
    background: #b23;
    margin-top: 20px; }
    .nav .cont .main .cont .box_h h1 {
      font-size: 18px;
      padding: 10px 0; }
    .nav .cont .main .cont .box_h .box1_l {
      width: 240px;
      height: 614px;
      padding-top: 10px; }
    .nav .cont .main .cont .box_h .box3 {
      margin-top: 2px;
      height: 614px;
      width: 930px; }
      .nav .cont .main .cont .box_h .box3 li {
        float: left;
        width: 220px;
        height: 300px;
        background: yellow;
        margin-right: 12px;
        margin-top: 12px; }
  .nav .cont .main .cont .box_u {
    margin-top: 40px;
    background: yellow;
    height: 678px; }
    .nav .cont .main .cont .box_u h1 {
      font-size: 18px;
      padding: 10px 0; }
    .nav .cont .main .cont .box_u .box1_l {
      width: 240px;
      height: 614px;
      padding-top: 10px; }
    .nav .cont .main .cont .box_u .box4 {
      margin-top: 2px;
      height: 614px;
      width: 930px; }
      .nav .cont .main .cont .box_u .box4 li {
        float: left;
        width: 220px;
        height: 300px;
        background: yellow;
        margin-right: 12px;
        margin-top: 12px; }
  .nav .cont .main .cont .box_p {
    margin-top: 30px;
    background: #2cc;
    height: 678px; }
    .nav .cont .main .cont .box_p h1 {
      font-size: 18px;
      padding: 10px 0; }
    .nav .cont .main .cont .box_p .box1_l {
      width: 240px;
      height: 614px;
      padding-top: 10px; }
    .nav .cont .main .cont .box_p .box5 {
      margin-top: 2px;
      height: 614px;
      width: 930px; }
      .nav .cont .main .cont .box_p .box5 li {
        float: left;
        width: 220px;
        height: 300px;
        background: yellow;
        margin-right: 12px;
        margin-top: 12px; }
  .nav .cont .main .cont .box_o {
    background: #ba2;
    height: 614px;
    margin-top: 30px; }
    .nav .cont .main .cont .box_o h1 {
      font-size: 18px;
      padding: 10px 0; }
    .nav .cont .main .cont .box_o .box1_l {
      width: 240px;
      height: 614px;
      padding-top: 10px; }
    .nav .cont .main .cont .box_o .box6 {
      margin-top: 2px;
      height: 614px;
      width: 930px; }
      .nav .cont .main .cont .box_o .box6 li {
        float: left;
        width: 220px;
        height: 300px;
        background: yellow;
        margin-right: 12px;
        margin-top: 12px; }

.box_e {
  margin-top: 30px;
  background: #23ffcb;
  height: 614px; }
  .box_e h1 {
    font-size: 18px;
    padding: 10px 0; }
  .box_e .box1_l {
    width: 240px;
    height: 614px;
    padding-top: 10px; }
  .box_e .box7 {
    margin-top: 2px;
    height: 614px;
    width: 930px; }
    .box_e .box7 li {
      float: left;
      width: 220px;
      height: 300px;
      background: yellow;
      margin-right: 12px;
      margin-top: 12px; }

.main_u {
  margin-top: 30px;
  background: #000;
  height: 315px; }
  .main_u h1 {
    font-size: 18px; }
  .main_u li {
    float: left;
    height: 315px;
    width: 230px;
    background: #bc23ba;
    margin-right: 8px;
    margin-top: 12px; }

.main_b {
  background: #cb4;
  height: 390px;
  margin-top: 30px; }
  .main_b h1 {
    font-size: 18px; }
  .main_b li {
    float: left;
    height: 390px;
    width: 284px;
    background: #bc2334;
    margin-right: 13px;
    margin-top: 12px; }

.main_k {
  background: #f34;
  height: 257px;
  margin-top: 30px; }
  .main_k h1 {
    font-size: 18px; }
  .main_k li {
    float: left;
    height: 257px;
    width: 283px;
    background: #bc2cb3;
    margin-right: 13px;
    margin-top: 12px; }

.weibu {
  background: #3E3E3E;
  height: 343px;
  position: relative;
  border-bottom: 2px solid #787878; }
  .weibu .weibu_l h3 {
    padding: 20px 56px;
    font-size: 14px;
    color: #fff; }
  .weibu .weibu_l i {
    width: 43px;
    height: 45px;
    background: url("../img/hua.png") no-repeat;
    position: absolute;
    top: 53px;
    left: 55px; }
  .weibu .weibu_l h4 {
    padding-left: 115px;
    font-size: 20px;
    color: #FFD312; }
  .weibu .weibu_r {
    float: right; }
    .weibu .weibu_r p {
      padding-right: 143px;
      font-size: 14px;
      color: #fff; }
    .weibu .weibu_r h2 {
      width: 108px;
      height: 105px;
      background: url("../img/er.png") no-repeat; }

footer {
  height: 205px;
  background: #12ac34; }
