.tou {
  height: 30px;
  background: #3E3A39; }
  .tou h1 {
    float: left;
    font-size: 12px;
    padding: 8px 0 0 35px;
    color: #CCCCCC; }
  .tou .tou_r {
    float: right;
    position: relative; }
    .tou .tou_r li {
      float: left;
      margin-top: 8px;
      font-size: 12px;
      color: #CCCCCC; }
      .tou .tou_r li a {
        font-size: 12px;
        color: #CCCCCC;
        padding: 0 25px;
        border-right: 1px solid #ccc; }
        .tou .tou_r li a i {
          width: 24px;
          height: 19px;
          background: url("../img/dianhua.png") no-repeat;
          position: absolute;
          top: 4px;
          right: 105px; }

.hader .cont {
  height: 90px;
  position: relative; }
  .hader .cont h2 {
    width: 1200px;
    height: 80px;
    background: url("../img/hader.jpg") no-repeat;
    margin-bottom: 20px; }
  .hader .cont h3 {
    float: left;
    width: 199px;
    height: 53px;
    background: url("../img/logo1.jpg") no-repeat; }
  .hader .cont img {
    width: 175px;
    height: 60px;
    margin-left: 50px; }
  .hader .cont input {
    width: 335px;
    height: 40px;
    border: 3px solid #C40000;
    margin-left: 76px; }
  .hader .cont button {
    padding: 6px 20px 10px 20px;
    background: #C40000;
    border: 2px solid #C40000;
    font-size: 16px;
    color: #fff; }
  .hader .cont .ul_l {
    margin-left: 510px; }
    .hader .cont .ul_l li {
      float: left; }
      .hader .cont .ul_l li a {
        display: block;
        border-right: 1px solid #000;
        color: #E17F7F;
        padding: 0 6px;
        font-size: 12px; }
  .hader .cont span {
    float: right;
    width: 140px;
    height: 50px;
    border: 1px solid #000;
    font-size: 14px;
    text-align: center;
    margin-left: 90px;
    padding: 10px 20px;
    margin-top: 20px;
    position: absolute;
    top: 87px;
    right: 20px; }

.nav_p .cont {
  height: 43px; }
  .nav_p .cont li {
    margin-top: 8px;
    float: left;
    padding: 0 30px; }
    .nav_p .cont li a {
      color: #333333;
      font-size: 14px; }
  .nav_p .cont .nb {
    width: 187px;
    height: 45px;
    background: #CC0210; }
    .nav_p .cont .nb a {
      line-height: 45px;
      font-size: 20px;
      color: #fff;
      text-align: center;
      margin-left: 10px; }
  .nav_p .cont h5 {
    float: right;
    width: 190px;
    height: 37px;
    background: url("../img/qing.gif") no-repeat; }

.nav .cont .nav_l {
  float: left;
  width: 187px;
  height: 470px;
  background: #CA111D;
  position: relative;
  position: absolute;
  top: 259px;
  left: 30px;
  z-index: 1; }
  .nav .cont .nav_l .lt {
    line-height: 48px; }
    .nav .cont .nav_l .lt a {
      font-size: 16px;
      color: #fff;
      padding-left: 30px;
      position: relative; }
      .nav .cont .nav_l .lt a i {
        width: 13px;
        height: 19px;
        background: url("../img/jian.png") no-repeat;
        position: absolute;
        top: 3px;
        left: 153px; }
    .nav .cont .nav_l .lt:hover .big {
      display: block; }
    .nav .cont .nav_l .lt:hover {
      background: #D53C45; }
  .nav .cont .nav_l .big {
    width: 1030px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 186px;
    padding: 0 40px;
    display: none; }
    .nav .cont .nav_l .big .box_r {
      background: #fff;
      width: 686px;
      height: 450px;
      padding-right: 100px;
      position: absolute; }
      .nav .cont .nav_l .big .box_r .tab1 h4 {
        font-size: 16px;
        color: #000;
        border-bottom: 1px solid #ccc;
        margin-top: 20px; }
      .nav .cont .nav_l .big .box_r .tab1 li {
        float: left; }
        .nav .cont .nav_l .big .box_r .tab1 li a {
          font-size: 14px;
          border-right: 1px solid #B7B7B7;
          color: #E37D7F;
          padding: 0 6px; }
      .nav .cont .nav_l .big .box_r .tab2 li {
        float: left; }
        .nav .cont .nav_l .big .box_r .tab2 li a {
          font-size: 14px;
          border-right: 1px solid #B7B7B7;
          color: #E37D7F;
          padding: 0 6px; }
      .nav .cont .nav_l .big .box_r .tab2 h4 {
        font-size: 16px;
        color: #000;
        border-bottom: 1px solid #ccc;
        margin-top: 20px; }
      .nav .cont .nav_l .big .box_r .tab3 h4 {
        font-size: 16px;
        color: #000;
        text-align: left;
        border-bottom: 1px solid #ccc; }
      .nav .cont .nav_l .big .box_r .tab3 li {
        float: left; }
        .nav .cont .nav_l .big .box_r .tab3 li a {
          font-size: 14px;
          border-right: 1px solid #B7B7B7;
          color: #E37D7F;
          padding: 0 6px; }
      .nav .cont .nav_l .big .box_r .tab h4 {
        font-size: 16px;
        color: #000;
        text-align: left;
        border-bottom: 1px solid #ccc; }
      .nav .cont .nav_l .big .box_r .tab li {
        float: left; }
        .nav .cont .nav_l .big .box_r .tab li a {
          font-size: 14px;
          border-right: 1px solid #B7B7B7;
          color: #E37D7F;
          padding: 0 6px; }
    .nav .cont .nav_l .big .tu h4 {
      width: 240px;
      height: 500px;
      background: url("../img/aa.png") no-repeat;
      float: right; }

#baner {
  position: relative; }
  #baner img {
    display: block;
    height: 470px;
    width: 100%; }
  #baner #page {
    position: absolute;
    top: 425px;
    left: 530px; }
    #baner #page span {
      padding: 5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: #fff;
      border: 1px solid #ccc; }

.main_t {
  height: 46px;
  background: #fff;
  border-bottom: 1px solid #ccc; }
  .main_t .main_c li {
    float: left;
    margin-top: 12px;
    font-size: 14px;
    padding: 0 30px;
    color: #A4A49B; }
  .main_t p {
    float: right;
    margin-top: 12px;
    font-size: 14px;
    color: #E01F35; }

.midd .cont {
  height: 4120px;
  background: #F5F5F5; }
  .midd .cont .box1 {
    height: 660px;
    margin-top: 20px; }
    .midd .cont .box1 li {
      float: left;
      text-align: center;
      margin-right: 14px;
      margin-top: 20px;
      height: 310px;
      border: 1px solid #ccc; }
      .midd .cont .box1 li p {
        font-size: 16px;
        color: #000; }
      .midd .cont .box1 li span {
        color: red; }
  .midd .cont .box_u {
    height: 681px;
    padding-top: 10px; }
    .midd .cont .box_u h1 {
      font-size: 18px;
      padding: 10px 0; }
    .midd .cont .box_u .box4 {
      height: 681px; }
      .midd .cont .box_u .box4 ul li {
        text-align: center;
        float: left;
        width: 219px;
        height: 300px;
        background: #fff;
        margin-right: 12px;
        margin-top: 12px;
        padding: 20px; }
        .midd .cont .box_u .box4 ul li p {
          font-size: 14px;
          color: #000;
          line-height: 40px; }
        .midd .cont .box_u .box4 ul li span {
          color: red; }
        .midd .cont .box_u .box4 ul li img {
          height: 190px;
          width: 190px; }
  .midd .cont .box_p {
    height: 681px;
    padding-top: 10px; }
    .midd .cont .box_p h1 {
      font-size: 18px;
      padding: 10px 0; }
    .midd .cont .box_p .box5 {
      height: 681px; }
      .midd .cont .box_p .box5 ul li {
        text-align: center;
        float: left;
        width: 219px;
        height: 300px;
        background: #fff;
        margin-right: 12px;
        margin-top: 12px;
        padding: 20px; }
        .midd .cont .box_p .box5 ul li p {
          font-size: 14px;
          color: #000;
          line-height: 40px; }
        .midd .cont .box_p .box5 ul li span {
          color: red; }
        .midd .cont .box_p .box5 ul li img {
          height: 190px;
          width: 190px; }
  .midd .cont .box_o {
    height: 681px;
    padding-top: 10px; }
    .midd .cont .box_o h1 {
      font-size: 18px;
      padding: 10px 0; }
    .midd .cont .box_o .box6 {
      height: 681px; }
      .midd .cont .box_o .box6 ul li {
        text-align: center;
        float: left;
        width: 219px;
        height: 300px;
        background: #fff;
        margin-right: 12px;
        margin-top: 12px;
        padding: 20px; }
        .midd .cont .box_o .box6 ul li p {
          font-size: 14px;
          color: #000;
          line-height: 40px; }
        .midd .cont .box_o .box6 ul li span {
          color: red; }
        .midd .cont .box_o .box6 ul li img {
          height: 190px;
          width: 190px; }
  .midd .cont .box_e {
    height: 376px;
    padding-top: 10px; }
    .midd .cont .box_e h1 {
      font-size: 18px;
      padding: 10px 0; }
    .midd .cont .box_e .box7 {
      height: 376px; }
      .midd .cont .box_e .box7 ul li {
        text-align: center;
        float: left;
        width: 219px;
        height: 300px;
        background: #fff;
        margin-right: 12px;
        margin-top: 12px;
        padding: 20px; }
        .midd .cont .box_e .box7 ul li p {
          font-size: 14px;
          color: #000;
          line-height: 40px; }
        .midd .cont .box_e .box7 ul li span {
          color: red; }
        .midd .cont .box_e .box7 ul li img {
          height: 190px;
          width: 190px; }
  .midd .cont .main_u {
    margin-top: 30px;
    height: 337px; }
    .midd .cont .main_u h1 {
      font-size: 18px; }
    .midd .cont .main_u ul li {
      text-align: center;
      float: left;
      width: 219px;
      height: 300px;
      background: #fff;
      margin-right: 12px;
      margin-top: 12px;
      padding: 20px; }
      .midd .cont .main_u ul li p {
        font-size: 14px;
        color: #000;
        line-height: 40px; }
      .midd .cont .main_u ul li span {
        color: red; }
      .midd .cont .main_u ul li img {
        height: 190px;
        width: 190px; }
  .midd .cont .main_b {
    height: 350px;
    margin-top: 30px; }
    .midd .cont .main_b h1 {
      font-size: 18px; }
    .midd .cont .main_b li {
      text-align: center;
      float: left;
      height: 315px;
      width: 284px;
      background: #fff;
      margin-right: 13px;
      margin-top: 12px; }
      .midd .cont .main_b li p {
        font-size: 14px;
        color: #000;
        line-height: 40px; }
      .midd .cont .main_b li span {
        color: red; }
  .midd .cont .main_k {
    height: 267px;
    margin-top: 30px; }
    .midd .cont .main_k h1 {
      font-size: 18px; }
    .midd .cont .main_k li {
      float: left;
      height: 230px;
      width: 282px;
      margin-right: 13px;
      margin-top: 12px; }
      .midd .cont .main_k li img {
        width: 280px;
        height: 170px; }
      .midd .cont .main_k li p {
        text-align: center;
        color: #000; }

.weibu {
  background: #3E3E3E;
  height: 343px;
  position: relative;
  border-bottom: 2px solid #787878; }
  .weibu .weibu_t {
    height: 123px;
    border-bottom: 2px solid #fff; }
    .weibu .weibu_t .weibu_l {
      position: relative; }
      .weibu .weibu_t .weibu_l h3 {
        padding: 20px 0px;
        font-size: 14px;
        color: #fff; }
      .weibu .weibu_t .weibu_l i {
        width: 43px;
        height: 45px;
        background: url("../img/hua.png") no-repeat;
        position: absolute;
        top: 53px;
        left: 0px; }
      .weibu .weibu_t .weibu_l h4 {
        padding-left: 57px;
        font-size: 20px;
        color: #FFD312; }
      .weibu .weibu_t .weibu_l img {
        position: absolute;
        top: 60px;
        left: 280px; }
    .weibu .weibu_t .weibu_r {
      position: relative; }
      .weibu .weibu_t .weibu_r p {
        padding-right: 130px;
        font-size: 14px;
        color: #fff;
        text-align: right;
        margin-top: 20px; }
      .weibu .weibu_t .weibu_r h2 {
        width: 108px;
        height: 105px;
        background: url("../img/er.png") no-repeat;
        position: absolute;
        top: 8px;
        right: 0px; }
  .weibu .weibu_p {
    margin-top: 38px; }
    .weibu .weibu_p ul {
      float: left;
      padding: 0 54px;
      font-size: 14px; }
      .weibu .weibu_p ul h2 {
        color: #fff;
        line-height: 30px; }
      .weibu .weibu_p ul li {
        text-align: left;
        color: #A9A9A9;
        line-height: 25px; }

.footer .cont {
  height: 300px;
  background: #fff; }
  .footer .cont .ft {
    position: relative;
    padding-top: 25px; }
    .footer .cont .ft .c1 {
      float: left;
      padding-left: 75px; }
      .footer .cont .ft .c1 i {
        width: 62px;
        height: 47px;
        background: url("../img/c4.png") no-repeat;
        position: absolute;
        top: 22px;
        left: 0; }
      .footer .cont .ft .c1 h3 {
        font-size: 18px;
        color: #C40023; }
      .footer .cont .ft .c1 span {
        font-size: 14px;
        color: #CFCFCF; }
    .footer .cont .ft .c2 {
      float: left;
      padding-left: 117px; }
      .footer .cont .ft .c2 i {
        width: 62px;
        height: 47px;
        background: url("../img/c2.png") no-repeat;
        position: absolute;
        top: 22px;
        left: 236px; }
      .footer .cont .ft .c2 h3 {
        font-size: 18px;
        color: #C40023; }
      .footer .cont .ft .c2 span {
        font-size: 14px;
        color: #CFCFCF; }
    .footer .cont .ft .c3 {
      float: left;
      padding-left: 132px; }
      .footer .cont .ft .c3 i {
        width: 62px;
        height: 47px;
        background: url("../img/c3.png") no-repeat;
        position: absolute;
        top: 22px;
        left: 480px; }
      .footer .cont .ft .c3 h3 {
        font-size: 18px;
        color: #C40023; }
      .footer .cont .ft .c3 span {
        font-size: 14px;
        color: #CFCFCF; }
    .footer .cont .ft .c4 {
      float: left;
      padding-left: 180px; }
      .footer .cont .ft .c4 i {
        width: 62px;
        height: 47px;
        background: url("../img/c1.png") no-repeat;
        position: absolute;
        top: 22px;
        left: 758px; }
      .footer .cont .ft .c4 h3 {
        font-size: 18px;
        color: #C40023; }
      .footer .cont .ft .c4 span {
        font-size: 14px;
        color: #CFCFCF; }
    .footer .cont .ft .c5 {
      float: left;
      padding-left: 104px; }
      .footer .cont .ft .c5 i {
        width: 62px;
        height: 47px;
        background: url("../img/c5.png") no-repeat;
        position: absolute;
        top: 22px;
        right: 136px; }
      .footer .cont .ft .c5 h3 {
        font-size: 18px;
        color: #C40023; }
      .footer .cont .ft .c5 span {
        font-size: 14px;
        color: #CFCFCF; }
  .footer .cont .fc {
    margin-top: 65px;
    height: 20px; }
    .footer .cont .fc li {
      float: left;
      padding: 0 5px;
      font-size: 14px;
      color: #080808; }
    .footer .cont .fc span {
      border-right: 1px solid #000;
      padding: 0 4px; }
  .footer .cont .fi {
    margin-top: 20px;
    height: 94px; }
    .footer .cont .fi p {
      font-size: 14px;
      text-align: center; }
    .footer .cont .fi img {
      margin: 10px 0 0 400px; }
